@use "../variables" as v;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  padding: 1rem;
  background-image: url(/React-form/movies.jpg);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;


  &-absolute {
    position: absolute;
    min-width: 100%;
  }

  &-change {
    position: relative;
    background-image: v.$filled-out-color-bg;
  }

  @media screen and (max-width: 415px) {
    min-width: 415px;
  }
}
